body {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

canvas {
    border: 4px solid #ff0055; /* Uma borda neon estilo gamer */
    background-color: #000;
    box-shadow: 0 0 20px #ff0055;
}